asgiref==3.9.2
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
Django==4.2.24
django-debug-toolbar==6.0.0
django-jazzmin==3.0.1
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.42.1
google-auth-httplib2==0.2.1
googleapis-common-protos==1.71.0
httplib2==0.31.0
idna==3.11
mysqlclient==2.2.7
proto-plus==1.26.1
protobuf==6.33.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.5
python-dotenv==1.1.1
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
